@import url('command.css');
.checkout_page_frame {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .checkout_page {
    width: 1320px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .category_top {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid #eaeaea;

      .container {
        height: 56px;
        flex-direction: row;

        div {
          width: 15%;
          display: flex;
          align-items: center;

          font-family: var(--font);
          font-style: normal;
          font-size: 15px;
          font-weight: 400;
          line-height: 22px;

          color: #041e42;
        }

        div:hover {
          cursor: pointer;
          border-bottom: 2px solid #041e42;
        }
      }
    }
    .page_router {
      margin: 20px 0px;
      width: 1320px;

      span {
        font-family: var(--font);
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;

        color: #041e42;
      }

      .drop {
        margin: 0px 10px;
      }

      span.active {
        font-family: var(--font);
        font-style: normal;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;

        color: #9661e0;
      }
      span:hover {
        cursor: pointer;
        color: #c28787;
      }
    }
    .input_title {
      margin-top: 60px;
      margin-bottom: 20px;
      color: rgba(4, 30, 66, 1);

      font-family: var(--font);
      font-style: Medium;
      font-size: 20px;
      font-weight: 500;
      line-height: 29px;
      text-align: left;

      p {
        margin-top: 20px;
        color: rgba(4, 30, 66, 1);

        font-family: var(--font);
        font-style: Medium;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
      }
    }

    .checkout_title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--font);
      font-style: normal;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;

      color: #041e42;
    }

    .check_input_box {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .input_boxes {
        width: 858px;
        height: auto;
        display: flex;
        flex-direction: column;

        .double_input {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;

          .label_input {
            margin-right: 35px;

            display: flex;
            flex-direction: column;

            input {
              width: 413px;
              height: 55px;
              padding: 5px 15px;
              box-sizing: border-box;
              border: 1px solid #eaeaea;
              border-radius: 6px;

              outline: none;
            }

            label {
              color: rgba(4, 30, 66, 1);

              font-family: var(--font);
              font-style: Medium;
              font-size: 16px;
              font-weight: 500;
              line-height: 28px;
              text-align: left;
            }
          }
        }
        .one_input {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;

          label {
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Medium;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
          }
          input,
          select {
            margin-bottom: 20px;
            width: 100%;
            height: 55px;
            outline: none;
            border: 1px solid rgba(234, 234, 234, 1);
            border-radius: 6px;
            background: rgba(255, 255, 255, 1);
          }
        }
        textarea {
          padding-top: 20px;
          border: 1px solid #eaeaea;
          border-radius: 6px;
          color: rgba(4, 30, 66, 1);
          box-sizing: border-box;
          font-family: var(--font);
          font-style: normal;
          font-size: 15px;
          font-weight: 400;
          line-height: 28px;
          text-align: left;
        }
      }
      .check_order_box {
        padding: 20px;
        margin-left: 30px;
        width: 422px;
        height: 380px;

        box-sizing: border-box;
        border-radius: 6px;
        border: 1px solid #eaeaea;

        display: flex;
        flex-direction: column;

        .or_title {
          font-family: var(--font);
          font-style: normal;
          font-size: 22px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
          color: #041e42;
        }

        .order_price_list {
          margin-top: 24px;
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;

          .order_list_left,
          .order_list_right {
            display: flex;
            flex-direction: column;

            .pro_list_top {
              display: flex;
              flex-direction: column;

              span {
                /* sty */
                margin-bottom: 13px;
                color: rgba(4, 30, 66, 1);

                font-family: var(--font);
                font-style: normal;
                font-size: 15px;
                font-weight: 400;
                line-height: 22px;
              }
            }
            .pro_list_bot {
              margin-top: 52px;
              display: flex;
              flex-direction: column;

              span {
                padding: 10px 0;
                border-top: 1px solid #eaeaea;
                border-bottom: 1px solid #eaeaea;
                box-sizing: border-box;
                color: rgba(4, 30, 66, 1);

                font-family: var(--font);
                font-style: Medium;
                font-size: 16px;
                font-weight: 500;
                line-height: 35px;
              }
            }
          }
        }

        .or_checkbox {
          position: relative;
          margin-top: 30px;
          display: flex;
          flex-direction: column;

          input {
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 5px;
            width: 17px;
            height: 17px;
          }

          span {
            margin-left: 35px;
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: medium;
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
          }
          button {
            margin-top: 30px;
            width: 422px;
            height: 52px;

            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 35px 15px 35px;

            box-sizing: border-box;
            border: 1px solid rgba(245, 195, 75, 1);
            border-radius: 6px;
            background: rgba(245, 195, 75, 1);

            a {
              color: rgba(4, 30, 66, 1);

              font-family: var(--font);
              font-style: medium;
              font-size: 20px;
              font-weight: 400;
              line-height: 25px;
            }
          }
        }
      }
    }
  }
}
