@import url('command.css');

.contact_page_frame {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .frame_img {
    position: relative;
    width: 100%;
    height: 860px;
    display: flex;
    justify-content: center;
  }

  .contact_page {
    margin-top: 75px;
    position: relative;
    width: 1320px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .contact_info {
      margin-bottom: 60px;
      display: flex;
      flex-direction: row;

      .contact_info_left {
        padding-bottom: 210px;
        padding-right: 25px;
        box-sizing: border-box;
        width: 560px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .contact_title {
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: Medium;
          font-size: 28px;
          font-weight: 500;
          line-height: 40px;
        }
        .contact_text {
          margin-top: 60px;
          width: 545px;
          height: 56px;
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: medium;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
        }

        .info_page_info {
          margin-top: 30px;
          display: flex;
          flex-direction: row;

          img {
            margin-right: 25px;
            width: 36px;
            height: 30px;
          }
          span {
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Medium;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
          }
          p {
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Regular;
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
          }
        }
        .follow_cards {
          display: flex;
          flex-direction: column;

          span {
            margin-top: 30px;
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Regular;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
          }

          .media_box i {
            margin-top: 20px;
            margin-right: 8px;
          }
        }
      }

      .contact_info_right {
        padding-left: 30px;
        width: 580px;
        height: auto;
        display: flex;
        flex-direction: column;

        label,
        .double_input label {
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: Medium;
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
        }

        .double_input {
          width: 580px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .label_input {
            width: 310px;
            height: 88px;

            input {
              padding: 20px 52px;
              box-sizing: border-box;
              outline: none;
              border: 1px solid rgb(239, 239, 239);
              border-radius: 6px;
            }
          }
        }
        .one1_input {
          margin-top: 25px;
          display: flex;
          flex-direction: column;

          input {
            padding: 20px 70px;
            box-sizing: border-box;
            outline: none;
            border: 1px solid rgb(239, 239, 239);
            border-radius: 6px;
          }
        }
        textarea {
          padding-top: 20px;
          padding-right: 15px;
          border: 1px solid #eaeaea;
          border-radius: 6px;
          color: rgba(4, 30, 66, 1);
          box-sizing: border-box;
          font-family: var(--font);
          font-style: normal;
          font-size: 15px;
          font-weight: 400;
          line-height: 28px;
          resize: none;
        }
        .contact_btn {
          margin-top: 25px;
          width: 180px;
          height: 52px;

          padding: 15px 25px;
          box-sizing: border-box;
          border: 1px solid rgba(245, 195, 75, 1);
          border-radius: 6px;
          background: rgba(245, 195, 75, 1);

          display: flex;
          justify-content: center;
          align-items: center;

          button {
            border: none;
            outline: none;
            background: rgba(245, 195, 75, 1);
          }

          a {
            color: black;

            background: rgba(245, 195, 75, 1);
            font-family: var(--font);
            font-style: Medium;
            font-size: 15px;
            font-weight: 500;
            line-height: 25px;
          }
        }
      }
    }
    .contact_page_center {
      border-top: 1px solid #eaeaea;
      width: 100%;
      height: 620px;
      border-bottom: 1px solid #eaeaea;
      display: flex;
      flex-direction: row;

      .cont_center_left {
        margin-top: 60px;
        width: 440px;
        height: 80px;

        display: flex;
        flex-direction: column;

        .center_left_title {
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: Medium;
          font-size: 28px;
          font-weight: 500;
          line-height: 40px;
        }
        p {
          margin-top: 20px;
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: normal;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
        }
      }
      .cont_center_right {
        position: relative;
        margin-top: 60px;
        margin-left: 178px;
        width: 700px;
        height: 560px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .center_right_box {
          margin-bottom: 60px;
          width: 301px;
          height: 112px;
          display: flex;
          flex-direction: column;

          .right_box_title {
            margin-bottom: 10px;
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Medium;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
          }
          p {
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: normal;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
          }

          button {
            margin-top: 10px;
            width: 80px;
            height: 27px;

            border: none;
            outline: none;
            background-color: rgba(255, 255, 255, 1);
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            a {
              border-bottom: 2px solid rgb(37, 136, 213);
              color: rgba(4, 30, 66, 1);

              font-family: var(--font);
              font-style: normal;
              font-size: 15px;
              font-weight: 400;
              line-height: 25px;
            }
            a:hover {
              color: blue;
              background-color: rgb(53, 216, 69);
              border-radius: 5px;
            }
          }
        }
      }
    }
    .contact_page_bott {
      margin-top: 60px;
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: column;
      /* justify-content: center;
      align-items: center; */

      .page_bott_title {
        color: rgba(4, 30, 66, 1);

        font-family: var(--font);
        font-style: Medium;
        font-size: 28px;
        font-weight: 500;
        line-height: 40px;
      }
      .bott_in_bott_boxes {
        margin-top: 35px;
        width: 100%;
        height: 98px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .bott_in_bott {
          .bott_number {
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Medium;
            font-size: 28px;
            font-weight: 500;
            line-height: 40px;
          }

          span {
            margin-left: 18px;
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Medium;
            font-size: 20px;
            font-weight: 500;
            line-height: 29px;
          }

          p {
            margin-top: 10px;
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Regular;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
          }
        }
        .bott_img {
          margin-left: 20px;
          width: 50px;
          height: 2px;
          transform: scale(1.1);
        }

        .bott_img img:hover {
          cursor: pointer;
          transform: scale(1.3);
        }
      }
    }
  }
}
